<h1>User Dashboard</h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br/>you are sign out successfully<br/>
<%= link_to 'Log In with Facebook','auth/facebook',method: :get %>

das <%= CHH %>
<script>
	$(document).ready(function() {
  NProgress.start();
});

NProgress.configure({
  showSpinner: false,
  ease: 'ease',
  speed: 500
});
</script>
